/* CSS styles */
h1 {
font-family: Impact, sans-serif;
color: #CE5937;
}

body {
  height: 200%;
  background-image: linear-gradient(90deg, rgb(171, 26, 26) 8%, rgb(66, 95, 199) 20%, rgb(66, 95, 199) 80%, rgb(171, 26, 26) 92%)
}

.header-class {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-class {
  color: rgb(255, 255, 180);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  width: 15%;
  cursor: pointer;
  
  background-color: color(display-p3 0 0 0.2 / 1);
}

.button-class:hover {  
  background-color: color(display-p3 0.1 0.1 0.4 / 1);
}

.window-class {
  align-self: center;
  height: 80%;
  width: 50%;
  
  margin-top: 8%;
  margin-left: 25%;
  background-color: color(display-p3 0.8 0.8 0.7 / 1);
 
  box-shadow: 5px 8px;
}
